.about {
    border-radius: 16px;
    max-width: 1024px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 60px 0px;
    margin: 25px auto;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
}

.aboutImg {
    width: 100%;
    max-width: 450px;
    min-width: 320px;
    min-height: 450px;
    position: relative;
    background-color: rgb(58, 63, 94);
    background-image: radial-gradient(
            white,
            rgba(255, 255, 255, 0.2) 2px,
            transparent 10px
        ),
        radial-gradient(white, rgba(255, 255, 255, 0.5) 1px, transparent 0px),
        radial-gradient(white, rgba(255, 255, 255, 0.8) 4px, transparent 1px),
        radial-gradient(
            rgb(255, 255, 255),
            rgba(255, 255, 255, 0.5) 2px,
            transparent 0px
        );
    background-size: 1000px 2000px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 150px 150px;
}

.meImg {
    /* max-width: 229px;
   border-radius: 50%; */
    position: absolute;
    top: 50px;
    right: 10%;
    width: 250px;
    /* height: 260px; */
    padding: 10.6667px;
    border-radius: 16px;
    animation: 6s ease 0s infinite normal none running cPDAFb;
    background: linear-gradient(
        223deg,
        rgb(213, 34, 122) 0%,
        rgb(246, 157, 136) 100%
    );
    transform: translateX(-80%);
}

.aboutText {
    width: 100%;
    max-width: 574px;
    padding: 36px 48px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aboutTitle {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
